<p id="notice"><%= notice %></p>

<h1>Student Checks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_checks.each do |student_check| %>
      <tr>
        <td><%= link_to 'Show', student_check %></td>
        <td><%= link_to 'Edit', edit_student_check_path(student_check) %></td>
        <td><%= link_to 'Destroy', student_check, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Check', new_student_check_path %>
