<p id="notice"><%= notice %></p>

<h1>Labor Management Agreements</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @labor_management_agreements.each do |labor_management_agreement| %>
      <tr>
        <td><%= link_to 'Show', labor_management_agreement %></td>
        <td><%= link_to 'Edit', edit_labor_management_agreement_path(labor_management_agreement) %></td>
        <td><%= link_to 'Destroy', labor_management_agreement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Labor Management Agreement', new_labor_management_agreement_path %>
