<h1 style="text-align: center;">各種資格　取得年月</h1>
<%= form_for @qualification, url: employee_info_qualifications_path(params[:employee_info_id]) do |f| %>
	
	取得年:	<%= f.number_field :year %>
	取得月:	<%= f.number_field :month %>
	取得資格:	 <%= f.text_field :name %>	

	<%=f.submit '作成', class: 'btn btn-primary btn-lg btn-block' %>
<%end%>


