<p id="notice"><%= notice %></p>

<h1>C Times</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @c_times.each do |c_time| %>
      <tr>
        <td><%= link_to 'Show', c_time %></td>
        <td><%= link_to 'Edit', edit_c_time_path(c_time) %></td>
        <td><%= link_to 'Destroy', c_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New C Time', new_c_time_path %>
