<h1 style="text-align: center;">社会保険</h1>

<%= form_for @social_insurance, url: employee_info_social_insurances_path(params[:employee_info_id]) do |f| %>
	雇用保険被保険者番号: <%= f.text_field :employment_insurance_number %><br>
	雇用保険加入年月日: <%= f.date_select :employment_insurance_start, {}, class: 'form-control' %><br>
	雇用保険喪失年月日: <%= f.date_select :employment_insurance_fin, {}, class: 'form-control' %><br>
	健康保険・厚生年金保険番号: <%= f.text_field :insurance_number %><br>
	健康保険・厚生年金保険加入年月日: <%= f.date_select :insurance_start, {}, class: 'form-control' %><br>		
	健康保険・厚生年金保険喪失年月日: <%= f.date_select :insurance_fin, {}, class: 'form-control' %><br>
	異動歴・退職年月日と事由・死亡年月日と原因: <%= f.text_field :insurance_others %><br>
	備考: <%= f.text_field :details %>	

	<%=f.submit '作成', class: 'btn btn-primary btn-lg btn-block' %>
<%end%>

	