<p id="notice"><%= notice %></p>

<h1>Work Infos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_infos.each do |work_info| %>
      <tr>
        <td><%= link_to 'Show', work_info %></td>
        <td><%= link_to 'Edit', edit_work_info_path(work_info) %></td>
        <td><%= link_to 'Destroy', work_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work Info', new_work_info_path %>
